language: r
cache: packages
latex: false
fortran: false

matrix:
  include:
    - os: linux
      env: R_CODECOV=true
    - os: osx
      brew_packages: openssl@1.1
    - os: osx
      brew_packages: openssl
    - os: osx
      brew_packages: libressl

addons:
  apt:
    packages:
      - libssl-dev

r_github_packages:
  - jimhester/covr

warnings_are_errors: true
#r_check_revdep: true

notifications:
  email:
    on_success: change
    on_failure: change

after_success:
  - Rscript -e 'covr::codecov(type = "all")'
